body {
  font-family: 'Playfair Display', serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Playfair Display', sans-serif;
}

a {
    color: #000000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;

}

.button {
    font-family: 'Muli';
}

.button.primary, .button.primary:hover {
  background-color: #42B549;
}

.top-bar, .top-bar ul {
    background-color: #ffffff;
}


.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: #2c3840;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}

#header-logo {
    height: 66px;
}

.breadcrumb {
  font-family: 'Muli';
  font-size: 12px;
  color: #787878;
  margin-bottom: 16px;
}

.breadcrumb > a, .breadcrumb > span {
    color: #787878;
    margin-right: 8px;
}

.breadcrumb > a:hover {
  color: #787878;
}

.breadcrumb .pemisah > ion-icon {
    vertical-align: baseline;
    margin-bottom: -2px;
}

.favorit .foto {
    height: 66px;
}

.favorit .detail {
    display: inline-block;
    vertical-align: middle;
}

.favorit .detail > div {
    font-family: 'Muli';
    font-size: 11px;
    color: #230B05;
    letter-spacing: -0.34px;
    line-height: 16px;
    font-weight: 400;
}

.produk-favorit {
    background-color: #F8F7F5;
}

.vertical-line {
    height: 128px;
}

.vertical-line .line {
    height: 64px;
    border-right: 2px solid #DACAAD;
}

.contact {
    height: 408px;
    background-color: #F8F7F5;
}

.lambang-tanya > ion-icon {
    color: #A9855B;
    font-size: 100px;
    font-weight: 100;
}

.contact {
    padding-top: 57px;
}

.wa {
    font-family: 'Muli';
    margin-top: 38px;
    margin-bottom: 81px;
}

.contact .wa .button {
    box-shadow: 0 2px 4px 0 rgba(50,54,72,0.50);
    background: #25D366;
    font-size: 18px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 18px;
    padding: 21px 42px;
}

.wa .button:hover {
  background: #25D366;
}

.wa ion-icon {
    vertical-align: bottom;
}

.footer {
  font-family: 'Muli';
    background-color: #F3EFEC;
    padding-top: 177px;
    padding-bottom: 186px;
    padding-left: 147px;
    padding-right: 147px;
}

.produk .foto-utama {
    width: 340px;
}

.produk .separator {
    height: 1px;
    border-bottom: 1px solid #DACAAD;
    width: 64px;
}

.foto-thumb img {
    height: 66px;
}

.harga, .deskripsi-title, .deskripsi {
    font-family: 'Muli';
}

.qty > label {
    display: inline-block;
}

#qty-stepper {
    width: 100px;
    display: inline-block;
}

.pencarian input.input-group-field {
    border-left: none;
    border-top: none;
    border-right: none;
    box-shadow: none;
}

.pencarian input.input-group-field:focus {
    box-shadow: none;
    border-bottom-color: #cacaca;
}

.pencarian .button {
    background: none;
    color: rgb(202, 202, 202);
    font-size: 20px;
}

.top-bar #cart, .top-bar #search {
    font-size: 30px;
    color: #000000;
}

.favorit {
    margin-top: 20px;
    margin-bottom: 20px;
}

.orbit {
  margin-top: 16px;
    margin-bottom: 40px;
}

.daftar-kategori-produk {
    margin-top: 120px;
}

.kategori-produk {
    margin-top: 80px;
    margin-bottom: 80px;
}

.kategori-produk .text h3 {
    font-size: 75px;
    color: #A9855B;
}

.kategori-produk .button {
    background: #A9855B;
    font-family: 'Muli';
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    line-height: 18px;
    box-shadow: 0 2px 4px 0 rgba(50, 54, 72, .5);
    padding: 20px 53px;
}

.kategori-produk .button:hover, .kategori-produk .button:focus {
    background-color: #A9855B;
}

.kategori-produk .cell {
    justify-content: center;
    align-items: center;
    display: flex;
}

.tanya-langsung-text {
    font-size: 26px;
    line-height: 26px;
}

#footer {
    margin-top: 80px;
}

.footer {
    font-size: 13px;
    color: #0F0F0F;
}

.media-sosial span {
    color: #7F7F7F;
    margin-right: 8px;
}

.media-sosial a {
    color: #000000;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 8px 6px;
}

.media-sosial ion-icon {
    vertical-align: bottom;
    font-size: 20px;
}

.halaman-cart .top-bar {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, .12);
}

.grid-container.cart {
    margin-top: 80px;
    margin-bottom: 80px;
}

.grid-container.cart h2 {
    margin-bottom: 36px;
}

.grid-container .item {
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #E9E7E4;
    border-bottom: 1px solid #E9E7E4;
    display: flex;
    align-items: center;
}

.grid-container.produk {
    margin-top: 64px;
    margin-bottom: 80px;
}

.produk .kota {
    font-size: 24px;
    line-height: 24px;
}

.produk .nama {
    font-size: 65px;
    line-height: 65px;
}

.produk .satuan {
    font-size: 24px;
    line-height: 24px;
}

.produk .harga-lama {
  visibility: hidden;
    font-size: 12px;
    font-family: 'Muli';
    text-decoration: line-through;
    color: #999999;
    line-height: 12px;
}

.produk .harga {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Muli';
    color: #D71149;
    line-height: 24px;
}

.button {
  background: #42B549;
  font-family: 'Muli';
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  padding: 20px 106px;
  box-shadow: 0 2px 4px 0 rgba(50, 54, 72, .5);
}

  .produk .deskripsi-title {
    font-family: 'Muli';
  font-size: 12px;
  color: #787878;
  line-height: 12px;
  margin-top: 26px;
}

.produk .deskripsi {
  font-family: 'Muli';
font-size: 12px;
color: #787878;
line-height: 26px;
}

body.kategori .top-bar, body.keranjang .top-bar, body.pencarian .top-bar, .grid-container.produk-favorit, body.checkout .top-bar{
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, .12);
}

/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 32px;
  cursor: pointer;
  color: #000000;
}

.overlay .closebtn:hover {

}

/* Style the search field */
.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
    margin-bottom: 0;
    height: 49px;
    background: #f1f1f1;
    /* border-radius: 14px 0 0 14px; */
}

.overlay input[type=text]:focus {
  box-shadow: none;
}

/* Style the submit button */
.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #000000;
    font-size: 17px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(50, 54, 72, .5)
    /* border-radius: 0 12px 12px 0; */
}

.overlay button ion-icon {
  color: #FFFFFF;
}

.produk-hasil-pencarian {
    padding: 16px;
    font-family: 'Muli';
    font-size: 14px;
    font-weight: 400;
    color: #0F0F0F;
}

.produk-hasil-pencarian > img, .produk-hasil-pencarian > div {
    line-height: 14px;
}

.produk-hasil-pencarian > img {
    margin-bottom: 16px;
    max-width: 128px;
}

.hasil-pencarian {
    margin-top: 80px;
    margin-bottom: 80px;
}

.not-found {
    margin-top: 80px;
}

.not-found h4 {
    font-family: 'Muli';
}


td.foto > a > img {
    height: 66px;
}

td.qty input {
    width: 56px;
}

td.qty > span, td.qty > input {
    display: inline-block;
}

.cart table {
  font-family: 'Muli'
}

.cart table tbody tr td {
    vertical-align: baseline;
    padding-top: 24px;
    padding-bottom: 24px;
}

.cart table tbody {
  border: none;
}

.cart table tr {
    border-top: 1px solid #E9E7E4;
}

.cart table tr:last-child {

  border-bottom: 1px solid #E9E7E4;
}

span.qty-text {
    font-family: 'Playfair Display';
    font-size: 14px;
}

.keluarkan a:hover {
    color: #000000;
}

#cart-notif {
    position: absolute;
    right: .5rem;
    background: #FFC53E;
    border-radius: 50%;
    padding: 0px 9px 2px 8px;
    z-index: 11;
}

#cart-notif span {
    font-size: 11px;
    font-family: 'Muli';
}

.hitung-total {
  margin-top: 40px;
}

.hitung-total button.primary, .hitung-total button.primary:hover, .hitung-total button.primary:active, .hitung-total button.primary:focus {
  background: #42B549;
  font-family: 'Muli';
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  box-shadow: 0 2px 4px 0 rgba(50,54,72,0.50);
}

.show-produks{
    width: 100%;
    justify-content: flex-start;
}

.show-produks > div{
    padding: 1rem;
    border: solid 1px #fff;
    border-radius: 10px;
}

.show-produks > div:hover{
    overflow: hidden;
    border: solid 1px #6ab83a86;
}

.show-produks p{
    margin: 0;
}


.show-produks p:nth-child(2){
    font-weight: 700;
    color: rgb(31, 31, 31);
}

.show-produks a:hover {
    color: rgb(0, 0, 0);

}

.d-flex{
    display: flex;
}

.m-1{
    margin: 1rem;
}

.m-l-r{
    margin: 0 2rem;
}

.text-center{
    text-align: center;
}

.fruit-container{
    max-width: 910px;
    margin: 0 auto;
}

.category-inner .cell .kota{
    font-size: 0.875rem;
    line-height: 1.643;
    font-weight: 600;
}

.category-inner .cell .harga{
    font-size: 1.4rem;
    line-height: 0.636;
    font-weight: 600;
    padding: 0.6rem;
    background-color: #6ab83a;
    color: #fff;
}

.category-inner .cell .nama{
    font-size: 1.438rem;
    line-height: 1.652;
    font-weight: 600;
    color: #6ab83a;
}

#bayar {
    margin-top: 16px;
}
